.container{
    text-align: center;
}

.title{
    margin-top: 50px;
    color: #fbe9d0;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset{
    width: 250px;
    height: 100px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background: red;
    font-size: 30px;
    color: #fbe9d0;
    margin-top: 25px;
    margin-bottom: 50px;
}

.squares{
    display: flex;
    height: 180px;
    width: 180px;
    background: #fbe9d0;
    border: 5px solid black;
    border-radius: 12px;
    cursor: pointer;
}

.board{
    height: 600px;
    width: 564px;
    display: flex;
    margin: auto;
}

.squares img{
    margin: 50px 50px;
}